<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/landing.css"  rel="stylesheet" type="text/css">
    
    <title>YoutuberTool</title>
   
  </head>
  <body>
    <header>

   <a href="/" class="logo"><span>Y</span>outuberTool</a>
   <nav class="nav">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        </nav>  
    </header>

    <div class="main">
         <div>
               <h2><span>Y</span>outuberTool</h2>
             <div class="line typewriter">
                <h3><span>Y</span>outuberTool entitled you to record your screen smoothly</h3>
             </div>
     
         </div> 
    </div>
<!--<br>
    <div class="definition">
       <div class="container">
           <div class="card">
          <p>dfjhdshfjdshjfjqsdfjkqsh<br>kdjfjdsjlfsdjlfk</p>
           </div>    
           </div class="card">
            <p>kdjflsqdhjfhjlqsdhjkflhqsjdkhfkjqhd<br>kljkfjklsqdjfljqsdf<br></p>
           </div>
       </div> 
     </div>-->

<div class="page-definition">
       
<table>
  <tr>   
  <td>    
 <div class="container">
       
      <div class="card">
          
          <div class="content">
            
          </div>
        
        </div>
    
     </div>
     </td>
     <th>
       <div class="put-in-center">
       <h3>Youtuber tool enables you to record your screen <br>
        smoothly, where you can take a recording of <br>
        you playing in your favorite game<br>
         or explaining a particular lesson or the like....
         </h3>
        </div>
      </th>
    </tr>
    <tr><td><br><br><br><br><br><br><br><br></td><td></td></tr>
<tr>
    <th>
      <div class="put-in-center">
        <h3>YoutuberTool is a free and open <br>source tool that runs smoothly <br>
          on your browsers.... Do not hesitate to use it .<br>
           You can use it in many things , to start<br>
            your YouTube channel for exemlpe for exemlpe.&#128513;
          </h3>
         </div>
    </th>

    <td>
      <div class="container">
       
        <div class="card2">
            
            <div class="content">
              
            </div>
          
          </div>
      
       </div>
    </td>

</tr>
</table>


 
</div> 


<div class="page-definition">
       
  <table>
    <tr>   
    <td>    
   <div class="container">
         
        <div class="card">
            
            <div class="content">
              
            </div>
          
          </div>
      
       </div>
       </td>
       <th>
         <div class="put-in-center">
         <h3>Youtuber tool enables you to record your screen <br>
          smoothly, where you can take a recording of <br>
          you playing in your favorite game<br>
           or explaining a particular lesson or the like....
           </h3>
          </div>
        </th>
      </tr>
      <tr><td><br><br><br><br><br><br><br><br></td><td></td></tr>
  <tr>
      <th>
        <div class="put-in-center">
          <h3>YoutuberTool is a free and open <br>source tool that runs smoothly <br>
            on your browsers.... Do not hesitate to use it .<br>
             You can use it in many things , to start<br>
              your YouTube channel for exemlpe for exemlpe.&#128513;
            </h3>
           </div>
      </th>
  
      <td>
        <div class="container">
         
          <div class="card2">
              
              <div class="content">
                
              </div>
            
            </div>
        
         </div>
      </td>
  
  </tr>
  </table>
  
  
   
  </div> 

  <footer class="text-gray-600 body-font">
    <br><br><br>
    <h3>&copy copyright @faresnawi</h3>
    <br><br><br>
  </footer>

  </body>
</html>
