<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/login.css"  rel="stylesheet" type="text/css">
  <title>YoutuberTool</title>
  </head>
  <body>
  
    
      
         <div class="settitle">
     <h1><span>Y</span>outuberTool</h1>
         </div>

    

  <form action="/login" method="POST">
  <div  class="box">
    <% if(err) { %>
      <p ><%= err %></p>
      <% } %>
      <input type="text" autocomplete="off" name="username" placeholder="Username" />
	  <input type="password" autocomplete="off" name="password" placeholder="Password" />
       
	  <div class="setbutton">
			
			<button>Login</button>
		    <a href="/signup">Signup</a>
    </div> 
  </div>
    
      </form>
     
   
  </body>
</html>
